body {
  margin: 0;
  font-family: 'Vollkorn', Georgia, serif;
}

h1, h2, h3, h4, p, a, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.header-bg {
  background-color: #9353f2;
  margin-bottom: 40px;
}

.header-logo {
  max-width: 200px;
}

.header-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;
  padding: 32px 32px;
}

.header-nav {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}

.header-nav a {
  display: inline-block;
  font-size: 1.125rem;
  color: white;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.header-nav a:hover {
  background-color: #54397c;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
}

.nav-left {
  grid-column: 1;
  background-color: #fafbfc;
  justify-self: center;
}

.nav-left li {
  margin-bottom: 20px;
  background-color: white;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
}

.nav-left li img {
  width: 100px;
}

.nav-left li:hover {
  background-color: #b07dfb;
  transition: 0.3s;
}

.main-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-content: start;
}

.main-titulo {
  margin-bottom: 40px;
}

.main-titulo h1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  color: #b07dfb;
}

.main-titulo p {
  font-size: 0,875rem;
  font-style: italic;
  color: #b07dfb;
}

.info-peso p, .info-idade p {
  font-size: 3rem;
  line-height: 1;
  color: #b07dfb;
  padding: 12px;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  border-radius: 5px 5px 0 0;
}

.info-peso span, .info-idade span {
  color: #b07dfb;
  padding: 5px;
}

.info-peso, .info-idade {
  display: grid;
  justify-items: center;
  background-color: white;
  border-radius: 0 0 5px 5px;
  box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.15);
}

.main-info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  justify-items: start;
  align-items: start;
}

.main-conteudo > p {
  grid-column: 1/-1;
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: -0.005rem;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 40px;
}

.main-imagens {
  grid-column: 1/-1;
}

.main-imagens-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.main-imagens-item img:first-child {
  grid-column: 1;
  grid-row: 1/-1;
  width: 100%;
  border-radius: 5px;
}

.main-imagens-item p {
  font-size: 0.875em;
  line-height: 1.6;
  letter-spacing: -0.005rem;
  color: #b07dfb;
  grid-column: 2;
  max-width: 16em;
}

.main-imagens-item img:last-child {
  width: 100%;
  align-self: end;
  border-radius: 5px;
}

.main-imagens > p:first-child {
  grid-column: 1;
}

.main-imagens > p:last-child {
  grid-column: 2;
}

.main-imagens-texto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  font-size: 1.2em;
  line-height: 1.6;
  letter-spacing: -0.005em;
  color: rgba(0, 0, 0, 0.7);
}

.nav-right {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  align-content: start;
  justify-items: end;
  margin-right: 40px;
}

.nav-right img {
  max-width: 240px;
  border-radius: 5px;
}










@media (max-width: 800px) {
  .header-conteudo {
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .header-nav {
    justify-content: start;
  }
}